:root {
	--brand-color: #d5eb5d;
	--black-color: #0e0e0e;
	--white-color: #d5d5d5;
}

* {
	box-sizing: border-box;
}

a {
	color: var(--white-color);
	text-decoration-color: var(--brand-color);
}

a:hover {
	color: var(--brand-color);
	text-decoration: none;
}

.nav ul {
	list-style-type: none;
	list-style-position: inside;
	list-style: none;
	margin-left: -24px;
}

.nav ul > li {
	display: inline-block;
	margin-left: -16px;
}

.nav ul > li:not(:first-child) {
	margin-left: 16px;
}

@font-face {
	font-family: "Clash-Display";
	src: url(/assets/font/ClashDisplay-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "Clash-Display";
	src: url(/assets/font/ClashDisplay-Medium.ttf);
	font-weight: 500;
}

.hide__pc {
	display: none;
}

.hide__mobile {
	display: inline-block;
}
body {
	font-family: sans-serif;
	font-weight: 400;
	background-color: var(--black-color);
	color: var(--white-color);
	padding: 2rem;
	margin: 0;
}

.header {
	max-width: 500px;
	margin: auto;
	margin-top: 5%;
	color: var(--brand-color);
	margin-bottom: 32px;
}
.header__title {
	color: var(--brand-color);
	font-size: 42px;
	font-weight: 600;
	line-height: 0;
}
.header__break {
	display: none;
}

.nav {
	margin-top: 20%;
}

.description {
	max-width: 500px;
	line-height: 1.4;
	margin: auto;
	font-family: sans-serif;
	font-weight: 300;
}

@media screen and (max-width: 600px) {
	.header {
		margin-top: 30%;
	}
	.hide__pc {
		display: inline-block;
	}
	.hide__mobile {
		display: none;
	}
}
