:root {
	--brand-color: #d5eb5d;
	--black-color: #0e0e0e;
	--white-color: #f2eaea;
}

* {
	box-sizing: border-box;
}

a {
	color: var(--white-color);
	text-decoration-color: var(--brand-color);
}

a:hover {
	color: var(--brand-color);
	text-decoration: none;
}
br {
	line-height: 0.5;
}

ul {
	list-style-type: none;
	list-style-position: inside;
	list-style: none;
	margin-left: -24px;
}

ul > li {
	display: inline-block;
	margin-left: -16px;
}

ul > li:not(:first-child) {
	margin-left: 16px;
}

@font-face {
	font-family: "Clash-Display";
	src: url(/assets/font/ClashDisplay-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "Clash-Display";
	src: url(/assets/font/ClashDisplay-Medium.ttf);
	font-weight: 500;
}

body {
	font-family: sans-serif;
	font-weight: 400;
	background-color: var(--black-color);
	color: var(--white-color);
	padding: 2rem;
	margin: 0;
}

.header {
	max-width: 500px;
	margin: auto;
	margin-top: 5%;
	color: var(--brand-color);
	margin-bottom: 32px;
}
.header__title {
	color: var(--brand-color);
	font-size: 42px;
	font-weight: 600;
	line-height: 0;
}
.net {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.net > div {
	border-right: 0.25px solid var(--brand-color);
}

.nav {
	margin-top: 20%;
}

.description {
	max-width: 500px;
	line-height: 1.4;
	font-size: 18px;
	margin: auto;
	font-family: sans-serif;
	font-weight: 300;
}
